myvenv/
06_opencv/img/101_ObjectCategories/
06_opencv/img/books/
09_opencv/data/
09_opencv/faces/
09_opencv/project/
09_opencv/src/shape_predictor_68_face_landmarks.dat
09_opencv/src/drowsiness_detection/models/shape_predictor_68_face_landmarks.dat
11_opencv/data/test/*
11_opencv/data/train/*
11_opencv/data/weights/*
11_opencv/models/*
yolovenv/
12_opencv/src/*pt